<header class="header">
  <div class="user-name"><%= current_user.nickname %>さんのページ</div>
  <div class="user-profile">
    <%= link_to 'プロフィール登録', new_profile_path %>
    <%= link_to '目標値登録', profiles_path %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>
</header>

<div class="top-menu">
  <div class="top-menu-contents">
    <div class="top-menu-category">
      <div class="top-menu-category-name"><%= link_to '食事画面へ', meals_path %></div>
      <div class="top-menu-category-name"><%= link_to 'デジタルデバイス画面へ', digitals_path %></div>
      <div class="top-menu-category-name"><%= link_to 'コミュニケーション時間', communications_path %></div>
    </div>
    <div class="goal">
      <% if @profile.present? %>
        <div class="goal-contents">カロリー目標値：<%= @profile.calory_goal %>kcal</div>
        <div class="goal-contents">デジタルデバイス目標時間：<%= @profile.digital_goal %>時間</div>
        <div class="goal-contents">コミュニケーション目標時間：<%= @profile.communication_goal %>時間</div>
      <% else %>
        目標値未設定
      <% end %>
    </div>
  </div>

  <div class="history-top">
    <div class="history-category">
      <div class="history-category-name">
        <div class="history-contents">食事内容履歴</div>
          <% @meals.each do |meal| %>
            <div class="contents-meal">
              <div class="day">日付：<%= meal.day_on %></div>
              <div class="meal-history">
                <div class="history-menu">食事：<%= meal.menu %></div>
                <div class="history-wheat">小麦粉：<%= meal.wheat.name %></div>
                <div class="history-calory">カロリー：<%= meal.calory %>kcal</div>
              </div>
              <div class="achieve-history-meal">
                <div>
                  <% if meal.wheat_id <= @profile.wheatgoal_id %>
                    達成
                  <% else %>
                    未達成
                  <% end %>
                </div>
                <div>
                  <% if meal.calory <= @profile.calory_goal %>
                    達成
                  <% else %>
                    未達成
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
      </div>
      <div class="history-category-name">
        <div class="history-contents">デジタルデバイス使用履歴</div>
          <% @digitals.each do |digital| %>
            <span class="day">日付：<%= digital.day_on %></span>
            <span class="content-history">実績：<%= digital.time %>時間</span>
            <span class="achieve-history">
              <% if digital.time <= @profile.digital_goal %>
                達成
              <% else %>
                未達成
              <% end %>
            </span>
          <% end %>
      </div>
      <div class="history-category-name">
        <div class="history-contents">コミュニケーション時間履歴</div>
          <% @communications.each do |communication| %>
            <span class="day">日付：<%= communication.day_on %></span>
            <span class="content-history">実績：<%= communication.time %>時間</span>
            <span class="achieve-history">
              <% if communication.time >= @profile.communication_goal %>
                達成
              <% else %>
                未達成
              <% end %>
            </span>
          <% end %>
      </div>
    </div>
  </div>
</div>