<%= form_with model:@profile, local: true do |f| %>
  <div class="profile-top">
    <div class="profile-content">
      <div class="profile-content-name">年齢</div>
      <%= f.text_field :age %>
      <div class="profile-content-name">身長</div>
      <%= f.text_field :height %>
      <div class="profile-content-name">体重</div>
      <%= f.text_field :weight %>
      <%= f.submit '登録する' %>
    </div>
  </div>
<% end %>