<h1>目標値登録</h1>
<div class="goal-top">
  <div class="goal-contents">
    <%= form_with model:@goal, local: true do |f| %>
      <div class="goal-content-name">小麦粉の量</div>
      <%= f.collection_select(:wheatgoal_id, Wheatgoal.all, :id, :name, {} ) %>
      <div class="goal-content-name">カロリー目標</div>
      <%= f.text_field :calory_goal %>
      <div class="goal-content-name">デジタルデバイス使用時間</div>
      <%= f.text_field :digital_goal %>
      <div class="goal-content-name">コミュニケーション時間</div>
      <%= f.text_field :communication_goal %>
      <%= f.submit '目標登録する' %>
    <% end %>
  </div>
</div>
